govt-support/workflows/FA-002_강사_신청_알림.json
{"updatedAt":"2026-02-24T14:45:41.089Z","createdAt":"2026-02-24T13:59:50.305Z","id":"ovWkhq7E0ZqvjBIZ","name":"FA-002 강사 신청 알림","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node-schedule","name":"5분 스케줄","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"node-query","name":"신규 신청 조회","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[440,300],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}},"parameters":{"operation":"search","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"filterByFormula":"{n8n_신청알림} = 0","options":{}}},{"id":"node-message","name":"메시지 조립","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst count = items.length;\n\nif (count === 0) {\n  return [{ json: { count: 0, message: '', ids: [] } }];\n}\n\nconst lines = items.map((item, i) => {\n  const f = item.json;\n  const name = f['성함'] || '이름없음';\n  const tel = f['연락처'] || '-';\n  const userId = f['자사몰 ID'] || '미입력';\n  const email = f['이메일 주소'] || '-';\n  return (i+1) + '. ' + name + ' | ' + tel + ' | ' + userId + ' | ' + email;\n});\n\nconst message = '\\uD83D\\uDD95 \\uAC15\\uC0AC \\uC2E0\\uCCAD ' + count + '\\uAC74 \\uC811\\uC218\\n\\n' + lines.join('\\n') + '\\n\\n\\uC5D0\\uC5B4\\uD14C\\uC774\\uBE14\\uC5D0\\uC11C \\uC2B9\\uC778 \\uCC98\\uB9AC\\uD574\\uC8FC\\uC138\\uC694.';\nconst ids = items.map(item => item.json.id);\n\nreturn [{ json: { count, message, ids } }];"}},{"id":"node-if","name":"신규 신청 있는가","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-telegram","name":"텔레그램 신청 알림","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1160,200],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}},"parameters":{"chatId":"7713811206","text":"={{ $json.message }}","additionalFields":{}}},{"id":"node-http","name":"신청알림 발송 표시","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,200],"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app6MBsHo7AKwh5XD/tblo1NVcundJjJKJ3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_AIRTABLE_PAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: $('메시지 조립').first().json.ids.map(id => ({ id, fields: { 'n8n_신청알림': true } })) }) }}","options":{}}}],"connections":{"5분 스케줄":{"main":[[{"node":"신규 신청 조회","type":"main","index":0}]]},"신규 신청 조회":{"main":[[{"node":"메시지 조립","type":"main","index":0}]]},"메시지 조립":{"main":[[{"node":"신규 신청 있는가","type":"main","index":0}]]},"신규 신청 있는가":{"main":[[{"node":"텔레그램 신청 알림","type":"main","index":0}],[]]},"텔레그램 신청 알림":{"main":[[{"node":"신청알림 발송 표시","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:5분 스케줄":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"8ab03bee-040e-464f-876f-79fc28a983c0","activeVersionId":"8ab03bee-040e-464f-876f-79fc28a983c0","versionCounter":24,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T13:59:50.305Z","createdAt":"2026-02-24T13:59:50.305Z","role":"workflow:owner","workflowId":"ovWkhq7E0ZqvjBIZ","projectId":"DIT0WAQj00qvNJUL","project":{"updatedAt":"2026-02-23T16:33:10.708Z","createdAt":"2026-02-23T16:25:57.845Z","id":"DIT0WAQj00qvNJUL","name":"jiho jang <pressco5755@naver.com>","type":"personal","icon":null,"description":null,"creatorId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T14:45:41.093Z","createdAt":"2026-02-24T14:45:41.093Z","versionId":"8ab03bee-040e-464f-876f-79fc28a983c0","workflowId":"ovWkhq7E0ZqvjBIZ","nodes":[{"id":"node-schedule","name":"5분 스케줄","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}}},{"id":"node-query","name":"신규 신청 조회","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[440,300],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}},"parameters":{"operation":"search","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"filterByFormula":"{n8n_신청알림} = 0","options":{}}},{"id":"node-message","name":"메시지 조립","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst count = items.length;\n\nif (count === 0) {\n  return [{ json: { count: 0, message: '', ids: [] } }];\n}\n\nconst lines = items.map((item, i) => {\n  const f = item.json;\n  const name = f['성함'] || '이름없음';\n  const tel = f['연락처'] || '-';\n  const userId = f['자사몰 ID'] || '미입력';\n  const email = f['이메일 주소'] || '-';\n  return (i+1) + '. ' + name + ' | ' + tel + ' | ' + userId + ' | ' + email;\n});\n\nconst message = '\\uD83D\\uDD95 \\uAC15\\uC0AC \\uC2E0\\uCCAD ' + count + '\\uAC74 \\uC811\\uC218\\n\\n' + lines.join('\\n') + '\\n\\n\\uC5D0\\uC5B4\\uD14C\\uC774\\uBE14\\uC5D0\\uC11C \\uC2B9\\uC778 \\uCC98\\uB9AC\\uD574\\uC8FC\\uC138\\uC694.';\nconst ids = items.map(item => item.json.id);\n\nreturn [{ json: { count, message, ids } }];"}},{"id":"node-if","name":"신규 신청 있는가","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}},{"id":"node-telegram","name":"텔레그램 신청 알림","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1160,200],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}},"parameters":{"chatId":"7713811206","text":"={{ $json.message }}","additionalFields":{}}},{"id":"node-http","name":"신청알림 발송 표시","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,200],"parameters":{"method":"PATCH","url":"https://api.airtable.com/v0/app6MBsHo7AKwh5XD/tblo1NVcundJjJKJ3","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_AIRTABLE_PAT_TOKEN"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ records: $('메시지 조립').first().json.ids.map(id => ({ id, fields: { 'n8n_신청알림': true } })) }) }}","options":{}}}],"connections":{"5분 스케줄":{"main":[[{"node":"신규 신청 조회","type":"main","index":0}]]},"신규 신청 조회":{"main":[[{"node":"메시지 조립","type":"main","index":0}]]},"메시지 조립":{"main":[[{"node":"신규 신청 있는가","type":"main","index":0}]]},"신규 신청 있는가":{"main":[[{"node":"텔레그램 신청 알림","type":"main","index":0}],[]]},"텔레그램 신청 알림":{"main":[[{"node":"신청알림 발송 표시","type":"main","index":0}]]}},"authors":"jiho jang","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T14:45:41.145Z","id":62,"workflowId":"ovWkhq7E0ZqvjBIZ","versionId":"8ab03bee-040e-464f-876f-79fc28a983c0","event":"deactivated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"},{"createdAt":"2026-02-24T14:45:41.174Z","id":63,"workflowId":"ovWkhq7E0ZqvjBIZ","versionId":"8ab03bee-040e-464f-876f-79fc28a983c0","event":"activated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"}]}}