pressco21/homepage-automation/workflows/F010_무통장_미수금_자동관리.json
{
  "name": "F010 무통장 미수금 자동관리",
  "nodes": [
    {
      "id": "f010-0001-4aaa-bbbb-000000000001",
      "name": "매시간 스케줄",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "notes": "매 1시간마다 무통장 입금대기 주문을 확인합니다."
    },
    {
      "id": "f010-0002-4aaa-bbbb-000000000002",
      "name": "날짜범위 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// KST 기준 오늘 날짜와 30일 전 날짜를 YYYYMMDD 형식으로 계산\nconst KST_OFFSET = 9 * 60 * 60 * 1000;\nconst now = new Date(Date.now() + KST_OFFSET);\n\nconst pad = (n) => String(n).padStart(2, '0');\n\nconst endDate = now.getUTCFullYear().toString()\n  + pad(now.getUTCMonth() + 1)\n  + pad(now.getUTCDate());\n\nconst past = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\nconst startDate = past.getUTCFullYear().toString()\n  + pad(past.getUTCMonth() + 1)\n  + pad(past.getUTCDate());\n\nreturn [{ json: { startDate, endDate } }];"
      },
      "notes": "메이크샵 API 조회용 start_date/end_date를 YYYYMMDD 형식으로 생성합니다. 30일 범위로 조회하여 72시간 초과 건을 놓치지 않도록 합니다."
    },
    {
      "id": "f010-0003-4aaa-bbbb-000000000003",
      "name": "무통장주문조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "parameters": {
        "method": "GET",
        "url": "https://www.foreverlove.co.kr/list/open_api.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "1fe4eece82d00e245aff322522fb3aec"
            },
            {
              "name": "Licensekey",
              "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "search" },
            { "name": "type", "value": "order" },
            { "name": "userid", "value": "*" },
            { "name": "display", "value": "100" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "notes": "메이크샵 API: userid=* 로 전체 주문 조회. 헤더는 Shopkey/Licensekey (FA-001과 동일). 주의: 메이크샵 주문 API는 userid 필수이며 userid=* 로 전체 조회. pay_path=BANK(무통장)는 72시간초과계산 노드에서 필터링."
    },
    {
      "id": "f010-0004-4aaa-bbbb-000000000004",
      "name": "72시간초과계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 입력: 메이크샵 주문 목록 응답\n// 메이크샵 type=order 응답 구조:\n// { return_code, totalCount, list: { '주문번호': { order: {...}, goods: [...] } } }\nconst items = $input.all();\nconst firstItem = items[0]?.json;\n\n// 응답이 비어있거나 오류인 경우 처리\nif (!firstItem || firstItem.return_code !== '0000') {\n  return [{ json: { overdue: [], waiting: [], totalWaiting: 0, totalOverdue: 0 } }];\n}\n\n// list는 객체(dict) 형태: { '주문번호': { order: {...} } }\nconst listObj = firstItem.list || {};\nconst orders = Object.values(listObj);\n\n// 주문이 없는 경우\nif (orders.length === 0) {\n  return [{ json: { overdue: [], waiting: [], totalWaiting: 0, totalOverdue: 0 } }];\n}\n\nconst KST_OFFSET = 9 * 60 * 60 * 1000;\nconst now = new Date(Date.now() + KST_OFFSET);\n\nconst pad = (n) => String(n).padStart(2, '0');\nconst cancelTime = now.getUTCFullYear() + '-'\n  + pad(now.getUTCMonth() + 1) + '-'\n  + pad(now.getUTCDate()) + ' '\n  + pad(now.getUTCHours()) + ':'\n  + pad(now.getUTCMinutes()) + ':'\n  + pad(now.getUTCSeconds());\n\nconst overdue = [];  // 72시간 초과\nconst waiting = [];  // 72시간 이내\n\nfor (const orderData of orders) {\n  const order = orderData.order || {};\n  \n  // 무통장 주문만 필터링 (pay_path=BANK)\n  // 주문 상태 N = 입금대기\n  const payPath = order.pay_path || '';\n  const orderStatus = order.order_status || '';\n  \n  // 무통장(BANK)이고 입금대기(N) 상태인 주문만 처리\n  if (payPath !== 'BANK' || orderStatus !== 'N') {\n    continue;\n  }\n  \n  // order_date 형식: '2024-01-01 10:30:00'\n  const orderTime = new Date(order.order_date.replace(' ', 'T') + '+09:00');\n  const elapsedHours = (now - orderTime) / (1000 * 60 * 60);\n\n  const goodsList = orderData.goods || [];\n  const goodsName = goodsList.length > 0\n    ? (goodsList[0].goods_name || '') + (goodsList.length > 1 ? ' 외 ' + (goodsList.length - 1) + '건' : '')\n    : '(상품 정보 없음)';\n\n  if (elapsedHours > 72) {\n    overdue.push({\n      order_no: order.ordernum || '',\n      member_id: order.id || '',\n      member_name: order.sender || '',\n      order_date: order.order_date || '',\n      goods_name: goodsName,\n      goods_price: order.pay_price || '0',\n      hp: order.mobile || order.phone || '',\n      elapsedHours: Math.floor(elapsedHours),\n      cancelTime: cancelTime\n    });\n  } else {\n    waiting.push({\n      order_no: order.ordernum || '',\n      member_name: order.sender || '',\n      goods_name: goodsName,\n      elapsedHours: Math.floor(elapsedHours)\n    });\n  }\n}\n\nreturn [{ json: { overdue, waiting, totalWaiting: waiting.length, totalOverdue: overdue.length } }];"
      },
      "notes": "메이크샵 type=order 응답 구조는 list가 객체(dict) 형태: { 주문번호: { order: {...}, goods: [...] } }. pay_path=BANK, order_status=N 인 주문만 필터링 후 72시간 초과/이내 분류."
    },
    {
      "id": "f010-0005-4aaa-bbbb-000000000005",
      "name": "취소대상 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-overdue-check",
              "leftValue": "={{ $json.totalOverdue }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "notes": "true: 72시간 초과 주문이 1건 이상 있음 -> 취소 처리 진행. false: 취소 대상 없음 -> 대기 현황만 텔레그램 알림."
    },
    {
      "id": "f010-0006-4aaa-bbbb-000000000006",
      "name": "취소목록 아이템화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// overdue 배열의 각 주문을 개별 n8n 아이템으로 변환\n// SplitInBatches에서 순회할 수 있도록 펼침\nconst data = $input.first().json;\nconst overdue = data.overdue || [];\n\nif (overdue.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\n// 각 주문을 개별 n8n 아이템으로 변환\n// 집계용 totalOverdue/totalWaiting도 함께 전달\nreturn overdue.map(order => ({\n  json: {\n    ...order,\n    totalOverdue: data.totalOverdue,\n    totalWaiting: data.totalWaiting\n  }\n}));"
      },
      "notes": "overdue 배열을 개별 n8n 아이템으로 펼칩니다. SplitInBatches가 한 건씩 순회할 수 있도록 변환합니다."
    },
    {
      "id": "f010-0007-4aaa-bbbb-000000000007",
      "name": "주문별 순차처리",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1640, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "notes": "Rate Limit 대응: 주문 1건씩 순차 처리합니다. output 0 = loop (다음 건 처리), output 1 = done (전체 완료)."
    },
    {
      "id": "f010-0008-4aaa-bbbb-000000000008",
      "name": "주문취소API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 200],
      "parameters": {
        "method": "POST",
        "url": "https://www.foreverlove.co.kr/list/open_api_process.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "1fe4eece82d00e245aff322522fb3aec"
            },
            {
              "name": "Licensekey",
              "value": "YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "mode", "value": "save" },
            { "name": "type", "value": "order_cancel" },
            { "name": "process", "value": "update" }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=order_no={{ $json.order_no }}&cancel_reason=%EC%9E%85%EA%B8%88+%EA%B8%B0%ED%95%9C(72%EC%8B%9C%EA%B0%84)+%EC%B4%88%EA%B3%BC%EB%A1%9C+%EC%9E%90%EB%8F%99+%EC%B7%A8%EC%86%8C",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "notes": "메이크샵 주문 취소 API: POST /list/open_api_process.html?mode=save&type=order_cancel&process=update. FA-001 그룹 변경과 동일한 엔드포인트 패턴. cancel_reason은 URL 인코딩된 '입금 기한(72시간) 초과로 자동 취소'"
    },
    {
      "id": "f010-0009-4aaa-bbbb-000000000009",
      "name": "취소결과확인",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 취소 API 응답 확인\nconst cancelResponse = $json;\n\n// SplitInBatches의 현재 아이템 데이터를 가져옴\nlet orderData = {};\ntry {\n  orderData = $('주문별 순차처리').item.json;\n} catch(e) {\n  try { orderData = $('취소목록 아이템화').item.json; } catch(e2) {}\n}\n\nconst orderNo = orderData.order_no || '';\nconst memberName = orderData.member_name || '';\n\nlet cancelSuccess = false;\nlet cancelMessage = '';\n\nif (cancelResponse && (cancelResponse.return_code === '0000' || cancelResponse.return_code === 0)) {\n  cancelSuccess = true;\n  cancelMessage = cancelResponse.message || '취소 성공';\n} else {\n  cancelSuccess = false;\n  cancelMessage = cancelResponse?.message || cancelResponse?.return_code || 'API 응답 오류';\n}\n\nreturn {\n  json: {\n    order_no: orderNo,\n    member_name: memberName,\n    cancelSuccess,\n    cancelMessage,\n    hp: orderData.hp || '',\n    goods_name: orderData.goods_name || '',\n    cancelTime: orderData.cancelTime || '',\n    elapsedHours: orderData.elapsedHours || 0,\n    totalOverdue: orderData.totalOverdue || 0,\n    totalWaiting: orderData.totalWaiting || 0\n  }\n};"
      },
      "notes": "메이크샵 취소 API 응답의 return_code를 확인합니다. return_code === '0000'이면 성공, 아니면 실패 사유를 기록합니다."
    },
    {
      "id": "f010-0010-4aaa-bbbb-000000000010",
      "name": "알림톡발송",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2360, 200],
      "parameters": {
        "method": "POST",
        "url": "https://www.foreverlove.co.kr/list/open_api_process.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Shopkey",
              "value": "1fe4eece82d00e245aff322522fb3aec"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "=mode=save&type=sms&process=send&send_type=at&template_code=PRESSCO_CANCEL&hp={{ encodeURIComponent($json.hp) }}&profile_key=PROFILE_KEY_PLACEHOLDER&add_info%5B%EA%B3%A0%EA%B0%9D%EB%AA%85%5D={{ encodeURIComponent($json.member_name) }}&add_info%5B%EC%A3%BC%EB%AC%B8%EB%B2%88%ED%98%B8%5D={{ encodeURIComponent($json.order_no) }}&add_info%5B%EC%83%81%ED%92%88%EB%AA%85%5D={{ encodeURIComponent($json.goods_name) }}&add_info%5B%EC%B7%A8%EC%86%8C%EC%9D%BC%EC%8B%9C%5D={{ encodeURIComponent($json.cancelTime) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput",
      "notes": "[비활성화 상태] PRESSCO_CANCEL 알림톡 템플릿 검수 완료 전까지 disabled=true. 활성화 조건: (1) PROFILE_KEY_PLACEHOLDER를 카카오 채널 프로필키로 교체 (2) n8n UI에서 이 노드 활성화."
    },
    {
      "id": "f010-0011-4aaa-bbbb-000000000011",
      "name": "Rate Limit 대기",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2600, 200],
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "notes": "메이크샵 API Rate Limit 대응: 시간당 500회 제한을 준수하기 위해 건별 1초 대기합니다."
    },
    {
      "id": "f010-0012-4aaa-bbbb-000000000012",
      "name": "처리완료 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 400],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// SplitInBatches done 출력에서 전체 처리 결과를 집계\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { message: '처리 대상 없음', totalCancelled: 0, totalFailed: 0, totalWaiting: 0 } }];\n}\n\nconst successOrders = [];\nconst failedOrders = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.cancelSuccess) {\n    successOrders.push(d);\n  } else if (d.order_no) {\n    failedOrders.push(d);\n  }\n}\n\nconst totalOverdue = items[0]?.json?.totalOverdue || items.length;\nconst totalWaiting = items[0]?.json?.totalWaiting || 0;\n\n// 텔레그램 메시지 생성 (유니코드 이스케이프로 이모지 처리)\nlet message = '';\n\nif (successOrders.length === 0 && failedOrders.length === 0) {\n  message = '\\u2705 \\uBB34\\uD1B5\\uC7A5 \\uBBF8\\uC218\\uAE08 \\uCC98\\uB9AC \\uB300\\uC0C1 \\uC5C6\\uC74C (\\uC785\\uAE08 \\uB300\\uAE30: ' + totalWaiting + '\\uAC74)';\n} else {\n  message = '\\uD83D\\uDCB0 \\uBB34\\uD1B5\\uC7A5 \\uBBF8\\uC218\\uAE08 \\uC790\\uB3D9 \\uCC98\\uB9AC \\uC644\\uB8CC\\n\\n';\n  message += '\\uD83D\\uDCCB \\uCC98\\uB9AC \\uACB0\\uACFC: ' + successOrders.length + '\\uAC74 \\uCDE8\\uC18C';\n\n  if (failedOrders.length > 0) {\n    message += ' / ' + failedOrders.length + '\\uAC74 \\uC2E4\\uD328';\n  }\n\n  message += '\\n\\u23F3 \\uC785\\uAE08 \\uB300\\uAE30 \\uC911: ' + totalWaiting + '\\uAC74 (72\\uC2DC\\uAC04 \\uC774\\uB0B4)\\n';\n\n  if (successOrders.length > 0) {\n    message += '\\n\\uCDE8\\uC18C \\uCC98\\uB9AC\\uB41C \\uC8FC\\uBB38:';\n    for (const o of successOrders) {\n      message += '\\n\\u2022 #' + o.order_no + ' ' + o.member_name + '\\uB2D8 \\u2014 ' + o.goods_name + ' (' + o.elapsedHours + '\\uC2DC\\uAC04 \\uCD08\\uACFC)';\n    }\n  }\n\n  if (failedOrders.length > 0) {\n    message += '\\n\\n\\u26A0\\uFE0F \\uCDE8\\uC18C \\uC2E4\\uD328 \\uC8FC\\uBB38:';\n    for (const o of failedOrders) {\n      message += '\\n\\u2022 #' + o.order_no + ' ' + o.member_name + '\\uB2D8 \\u2014 ' + o.cancelMessage;\n    }\n  }\n}\n\nreturn [{ json: { message, totalCancelled: successOrders.length, totalFailed: failedOrders.length, totalWaiting } }];"
      },
      "notes": "Loop 완료 후 전체 처리 결과를 집계합니다. 성공/실패 건수와 상세 주문 목록을 텔레그램 메시지로 조합합니다."
    },
    {
      "id": "f010-0013-4aaa-bbbb-000000000013",
      "name": "텔레그램알림 (취소완료)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2120, 400],
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21-Telegram-Bot"
        }
      },
      "notes": "취소 처리 결과를 텔레그램으로 운영자에게 알립니다."
    },
    {
      "id": "f010-0014-4aaa-bbbb-000000000014",
      "name": "대기건 메시지생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 72시간 초과 건이 없을 때의 알림 메시지 생성\nconst data = $input.first().json;\nconst totalWaiting = data.totalWaiting || 0;\n\nlet message = '';\nif (totalWaiting > 0) {\n  message = '\\u2705 \\uBB34\\uD1B5\\uC7A5 \\uBBF8\\uC218\\uAE08 \\uCC98\\uB9AC \\uB300\\uC0C1 \\uC5C6\\uC74C\\n\\u23F3 \\uC785\\uAE08 \\uB300\\uAE30 \\uC911: ' + totalWaiting + '\\uAC74 (72\\uC2DC\\uAC04 \\uC774\\uB0B4)';\n} else {\n  message = '\\u2705 \\uBB34\\uD1B5\\uC7A5 \\uC785\\uAE08\\uB300\\uAE30 \\uC8FC\\uBB38 \\uC5C6\\uC74C';\n}\n\nreturn [{ json: { message, totalWaiting } }];"
      },
      "notes": "취소 대상이 없을 때 입금 대기 건수만 포함한 간단한 알림 메시지를 생성합니다."
    },
    {
      "id": "f010-0015-4aaa-bbbb-000000000015",
      "name": "텔레그램알림 (대상없음)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1640, 500],
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "eS5YwFGpbJht6uCB",
          "name": "PRESSCO21-Telegram-Bot"
        }
      },
      "notes": "취소 대상이 없어도 입금 대기 현황을 텔레그램으로 알립니다. 매시간 알림이 불필요하면 이 노드를 비활성화하세요."
    }
  ],
  "connections": {
    "매시간 스케줄": {
      "main": [
        [
          { "node": "날짜범위 계산", "type": "main", "index": 0 }
        ]
      ]
    },
    "날짜범위 계산": {
      "main": [
        [
          { "node": "무통장주문조회", "type": "main", "index": 0 }
        ]
      ]
    },
    "무통장주문조회": {
      "main": [
        [
          { "node": "72시간초과계산", "type": "main", "index": 0 }
        ]
      ]
    },
    "72시간초과계산": {
      "main": [
        [
          { "node": "취소대상 있는가", "type": "main", "index": 0 }
        ]
      ]
    },
    "취소대상 있는가": {
      "main": [
        [
          { "node": "취소목록 아이템화", "type": "main", "index": 0 }
        ],
        [
          { "node": "대기건 메시지생성", "type": "main", "index": 0 }
        ]
      ]
    },
    "취소목록 아이템화": {
      "main": [
        [
          { "node": "주문별 순차처리", "type": "main", "index": 0 }
        ]
      ]
    },
    "주문별 순차처리": {
      "main": [
        [
          { "node": "주문취소API", "type": "main", "index": 0 }
        ],
        [
          { "node": "처리완료 집계", "type": "main", "index": 0 }
        ]
      ]
    },
    "주문취소API": {
      "main": [
        [
          { "node": "취소결과확인", "type": "main", "index": 0 }
        ]
      ]
    },
    "취소결과확인": {
      "main": [
        [
          { "node": "알림톡발송", "type": "main", "index": 0 }
        ]
      ]
    },
    "알림톡발송": {
      "main": [
        [
          { "node": "Rate Limit 대기", "type": "main", "index": 0 }
        ]
      ]
    },
    "Rate Limit 대기": {
      "main": [
        [
          { "node": "주문별 순차처리", "type": "main", "index": 0 }
        ]
      ]
    },
    "처리완료 집계": {
      "main": [
        [
          { "node": "텔레그램알림 (취소완료)", "type": "main", "index": 0 }
        ]
      ]
    },
    "대기건 메시지생성": {
      "main": [
        [
          { "node": "텔레그램알림 (대상없음)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
