pressco21/homepage-automation/workflows/FA-003_강사_반려_이메일_자동발송.json
{
  "name": "FA-003: 강사 반려 이메일 자동 발송",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 5}]
        }
      },
      "id": "fa003-n01",
      "name": "5분 스케줄",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://nocodb.pressco21.com/api/v1/db/data/noco/poey1yrm1r6sthf/mcafm2yyeaupdnt",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "where", "value": "(진행 상태,eq,반려)~and(n8n_반려알림,eq,0)"},
            {"name": "limit", "value": "20"}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "SIxKK9NtvgsQeLnMQcxbi5pNJGF7tJhnrv6LLGFl"}
          ]
        },
        "options": {"response": {"response": {"responseFormat": "json"}}}
      },
      "id": "fa003-n02",
      "name": "NocoDB 반려 미발송 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "// NocoDB 응답 list를 개별 레코드 아이템으로 분리\nconst records = $input.first().json.list || [];\nreturn records.map(function(r) { return { json: r }; });",
        "mode": "runOnceForAllItems"
      },
      "id": "fa003-n03",
      "name": "레코드 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json.Id }}", "operation": "isNotEmpty"}
          ]
        }
      },
      "id": "fa003-n04",
      "name": "처리할 건 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, 300]
    },
    {
      "parameters": {},
      "id": "fa003-n05",
      "name": "처리 없음",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1080, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {"value1": "={{ $json['반려 사유'] }}", "operation": "isNotEmpty"},
            {"value1": "={{ $json['이메일 주소'] }}", "operation": "isNotEmpty"}
          ]
        }
      },
      "id": "fa003-n06",
      "name": "반려사유+이메일 있는가",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "fromEmail": "pressco5755@naver.com",
        "toEmail": "={{ $json['이메일 주소'] }}",
        "subject": "[Pressco21] 강사회원 등업 신청 결과 안내",
        "emailType": "html",
        "html": "=<p>안녕하세요, {{ $json['성함'] }}님!</p>\n<p>프레스코21입니다.</p>\n<p>신청해주신 강사회원 등업 자료를 소중히 검토하였으나,<br>\n원활한 승인을 위해 아래 항목의 서류 보완이 필요하여 안내드립니다.</p>\n<hr>\n<p><strong>보완 요청 사유</strong></p>\n<p>{{ $json['반려 사유'] }}</p>\n<hr>\n<p><strong>승인 기준 안내</strong></p>\n<ul>\n<li>사업자등록증: 업종/업태에 '원예' 관련 내용이 포함되어야 합니다.</li>\n<li>자격증: 원예 관련 민간/국가 자격증 및 교육 이수증 사진 모두 인정됩니다.</li>\n</ul>\n<hr>\n<p><strong>조치 방법</strong></p>\n<p>아래 링크를 클릭하여 서류를 보완한 뒤 다시 제출해주시면<br>\n확인 후 즉시 등업을 도와드리겠습니다.</p>\n<p><a href=\"https://nocodb.pressco21.com/#/nc/form/2a0b4d52-bba7-4a4f-ad91-5041ea05d9a4\">서류 보완하여 재신청하기</a></p>\n<hr>\n<p>감사합니다.<br>\n<strong>Pressco21 꽃으로노는모든방법</strong></p>",
        "options": {}
      },
      "id": "fa003-n07",
      "name": "반려 이메일 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1300, 200],
      "credentials": {
        "smtp": {"id": "31jTm9BU7iyj0pVx", "name": "PRESSCO21-SMTP-Naver"}
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nocodb.pressco21.com/api/v1/db/data/noco/poey1yrm1r6sthf/mcafm2yyeaupdnt/' + $('반려사유+이메일 있는가').item.json.Id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"n8n_반려알림\": true}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "SIxKK9NtvgsQeLnMQcxbi5pNJGF7tJhnrv6LLGFl"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "options": {}
      },
      "id": "fa003-n08",
      "name": "NocoDB 반려알림 표시",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ '\\ud83d\\udce7 반려 이메일 발송 완료\\n\\n이름: ' + $('반려사유+이메일 있는가').item.json['성함'] + '\\n이메일: ' + $('반려사유+이메일 있는가').item.json['이메일 주소'] + '\\n사유: ' + ($('반려사유+이메일 있는가').item.json['반려 사유'] || '').substring(0, 50) }}",
        "additionalFields": {}
      },
      "id": "fa003-n09",
      "name": "텔레그램 발송 완료 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1740, 200],
      "credentials": {
        "telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}
      }
    },
    {
      "parameters": {
        "chatId": "7713811206",
        "text": "={{ '\\u26a0\\ufe0f 반려 이메일 발송 보류\\n\\n이름: ' + $json['성함'] + '\\n이메일: ' + ($json['이메일 주소'] || '미입력') + '\\n반려사유: ' + ($json['반려 사유'] || '미입력') + '\\n\\n\\u2192 NocoDB에서 반려 사유 및 이메일을 확인해주세요.' }}",
        "additionalFields": {}
      },
      "id": "fa003-n10",
      "name": "텔레그램 보류 알림",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 500],
      "credentials": {
        "telegramApi": {"id": "RdFu3nsFuuO5NCff", "name": "Pressco메이크샵봇"}
      }
    }
  ],
  "connections": {
    "5분 스케줄": {
      "main": [[{"node": "NocoDB 반려 미발송 조회", "type": "main", "index": 0}]]
    },
    "NocoDB 반려 미발송 조회": {
      "main": [[{"node": "레코드 분리", "type": "main", "index": 0}]]
    },
    "레코드 분리": {
      "main": [[{"node": "처리할 건 있는가", "type": "main", "index": 0}]]
    },
    "처리할 건 있는가": {
      "main": [
        [{"node": "반려사유+이메일 있는가", "type": "main", "index": 0}],
        [{"node": "처리 없음", "type": "main", "index": 0}]
      ]
    },
    "반려사유+이메일 있는가": {
      "main": [
        [{"node": "반려 이메일 발송", "type": "main", "index": 0}],
        [{"node": "텔레그램 보류 알림", "type": "main", "index": 0}]
      ]
    },
    "반려 이메일 발송": {
      "main": [[{"node": "NocoDB 반려알림 표시", "type": "main", "index": 0}]]
    },
    "NocoDB 반려알림 표시": {
      "main": [[{"node": "텔레그램 발송 완료 알림", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}