pressco21/homepage-automation/workflows/FA-001_강사회원_등급_자동변경.json
{"updatedAt":"2026-02-24T12:17:47.785Z","createdAt":"2026-02-24T03:59:06.037Z","id":"jaTfiQuY35DjgrxN","name":"FA-001: 강사회원 등급 자동 변경 v1.0","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"group"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n00a","name":"강사회원 그룹코드 조회","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,500]},{"parameters":{"jsCode":"// 메이크샵 그룹 목록에서 강사회원 그룹코드 추출\nconst resp = $json;\nconst groups = (resp && resp.list) ? resp.list : [];\nlet groupCode = 'MX01'; // 기본 폴백값\n\nconst found = groups.find(function(g) {\n  return g.group_name === '강사회원';\n});\nif (found && found.group_id) {\n  groupCode = found.group_id;\n}\n\nreturn { json: { instructorGroupCode: groupCode } };"},"id":"fa001-n00b","name":"그룹코드 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,700]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"fa001-n01","name":"5분 스케줄","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[200,300]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"filterByFormula":"AND({진행 상태}=\"승인완료\",NOT({n8n_처리완료}))","returnAll":false,"options":{},"limit":20},"id":"fa001-n02","name":"승인완료 미처리 조회","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,300],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"fa001-n03","name":"처리할 건 있는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,300]},{"parameters":{},"id":"fa001-n04","name":"처리 없음","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[860,480]},{"parameters":{"jsCode":"// ===== 에어테이블 레코드에서 식별 정보 추출 =====\n// n8n Airtable 노드는 필드를 $json 최상위에 직접 반환\nconst recordId = $json.id;\n\nconst jasamolId = ($json['자사몰 ID'] || '').trim();\nconst rawMobile = ($json['연락처'] || '').trim();\nconst name = ($json['성함'] || '').trim();\nconst email = ($json['이메일 주소'] || '').trim();\nconst association = ($json['소속 협회'] || '').trim();\n\n// 연락처 정규화: 010-1234-5678 또는 01012345678 → 01012345678\nconst mobile = rawMobile.replace(/[^0-9]/g, '').replace(/^82/, '0');\n\nreturn {\n  json: {\n    jasamolId,\n    mobile,\n    name,\n    email,\n    association,\n    recordId,\n    hasId: jasamolId.length > 0,\n    hasMobile: mobile.length >= 10\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n05","name":"식별 정보 추출","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasId }}","value2":true,"operation":"equal"}]}},"id":"fa001-n06","name":"자사몰 ID 있는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[1080,300]},{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"user"},{"name":"userid","value":"={{ $('식별 정보 추출').item.json.jasamolId }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n07","name":"메이크샵 회원 조회 (ID)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,100]},{"parameters":{"jsCode":"// ===== 메이크샵 회원 조회 응답 파싱 (ID 기준) =====\nconst resp = $json;\nconst originalData = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\n\n// 실제 메이크샵 API 응답: {return_code: '0000', list: [{id, hname, grade, ...}]}\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  makeshopUserId = resp.list[0].id || originalData.jasamolId;\n}\n\nreturn {\n  json: {\n    ...originalData,\n    userFound,\n    makeshopUserId: makeshopUserId || originalData.jasamolId,\n    failReason: userFound ? '' : '자사몰 ID로 회원을 찾지 못함: ' + originalData.jasamolId\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n08","name":"조회 응답 파싱 (ID)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,100]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.userFound }}","value2":true,"operation":"equal"}]}},"id":"fa001-n09","name":"회원 존재하는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[1740,100]},{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"user"},{"name":"mobile","value":"={{ $('식별 정보 추출').item.json.mobile }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n10","name":"메이크샵 회원 조회 (연락처)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,300]},{"parameters":{"jsCode":"// ===== 연락처 조회 응답 파싱 + 성함 일치 확인 =====\nconst resp = $json;\nconst originalData = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\nlet respName = '';\n\n// 실제 메이크샵 API 응답: {return_code: '0000', list: [{id, hname, handphone, ...}]}\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  makeshopUserId = resp.list[0].id || '';\n  respName = (resp.list[0].hname || '').trim();\n}\n\n// 성함 일치 확인 (공백 무시)\nconst inputName = originalData.name.replace(/\\s/g, '');\nconst apiName = respName.replace(/\\s/g, '');\nconst nameMatch = userFound && inputName.length > 0 && apiName.length > 0 && inputName === apiName;\n\nreturn {\n  json: {\n    ...originalData,\n    userFound,\n    nameMatch,\n    makeshopUserId,\n    apiName,\n    failReason: !userFound\n      ? '연락처로 회원을 찾지 못함: ' + originalData.mobile\n      : !nameMatch\n        ? '성함 불일치 (에어테이블: ' + originalData.name + ' / 메이크샵: ' + apiName + ')'\n        : ''\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n11","name":"연락처 조회 파싱 + 성함 확인","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.userFound && $json.nameMatch }}","value2":true,"operation":"equal"}]}},"id":"fa001-n12","name":"연락처+성함 일치하는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[2400,300]},{"parameters":{"method":"POST","url":"https://www.foreverlove.co.kr/list/open_api_process.html?mode=save&type=user_group_change&process=update","sendBody":true,"specifyBody":"string","body":"={{ 'datas[0][userid]=' + $json.makeshopUserId + '&datas[0][group_id]=' + $('그룹코드 파싱').first().json.instructorGroupCode }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fa001-n13","name":"메이크샵 그룹 변경","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,100]},{"parameters":{"jsCode":"// ===== 그룹 변경 API 응답 파싱 =====\n// 실제 메이크샵 응답: {return_code: '0000', datas: [{result: 'true'/'false', userid, group_id, group_name, message}]}\n// 주의: result는 boolean이 아닌 string 'true'/'false'\nconst resp = $json;\n\nlet success = false;\nlet failMessage = '';\n\nif (resp.return_code === '0000' && Array.isArray(resp.datas) && resp.datas.length > 0) {\n  const item = resp.datas[0];\n  // result는 string 'true' 또는 boolean true 둘 다 처리\n  if (item.result === true || item.result === 'true') {\n    success = true;\n  } else {\n    const msgs = item.message || [];\n    failMessage = Array.isArray(msgs) ? msgs.join(', ') : String(msgs);\n  }\n}\n\n// 이전 노드 데이터 유지 (두 경로 모두 try-catch로 안전하게)\nlet prevData = {};\ntry { prevData = { ...prevData, ...$('조회 응답 파싱 (ID)').item.json }; } catch(e) {}\ntry { prevData = { ...prevData, ...$('연락처 조회 파싱 + 성함 확인').item.json }; } catch(e) {}\n\nreturn {\n  json: {\n    ...prevData,\n    groupChangeSuccess: success,\n    groupChangeFailMessage: failMessage,\n    groupChangeResponse: JSON.stringify(resp)\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n14","name":"그룹 변경 응답 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[2840,100]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.groupChangeSuccess }}","value2":true,"operation":"equal"}]}},"id":"fa001-n15","name":"그룹 변경 성공했는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[3060,100]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.recordId }}","n8n_처리완료":true,"n8n_처리일시":"={{ new Date(new Date().getTime() + 9*60*60*1000).toISOString().replace('Z', '+09:00') }}"},"matchingColumns":["id"],"schema":[]},"options":{}},"id":"fa001-n16","name":"에어테이블 처리완료 기록","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3280,100],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}},{"parameters":{"chatId":"7713811206","text":"={{ '✅ 강사회원 등업 완료\\n\\n이름: ' + $json.name + '\\n아이디: ' + $json.makeshopUserId + '\\n협회: ' + ($json.association || '-') }}","additionalFields":{}},"id":"fa001-n17","name":"텔레그램 성공 알림","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3500,100],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}}},{"parameters":{"jsCode":"// ===== 수동 처리 요청 메시지 조립 =====\nlet data = {};\n\ntry { data = $('식별 정보 추출').item.json; } catch(e) {}\ntry { data = { ...data, ...$('연락처 조회 파싱 + 성함 확인').item.json }; } catch(e) {}\ntry { data = { ...data, ...$('조회 응답 파싱 (ID)').item.json }; } catch(e) {}\ntry { data = { ...data, ...$('그룹 변경 응답 파싱').item.json }; } catch(e) {}\n\nconst reason = data.failReason || '원인 불명';\nconst name = data.name || '(이름 없음)';\nconst jasamolId = data.jasamolId || '(미입력)';\nconst mobile = data.mobile || '(미입력)';\nconst email = data.email || '(미입력)';\nconst association = data.association || '(미입력)';\nconst recordId = data.recordId || '';\n\nconst message = '⚠️ 강사 등업 수동 처리 필요\\n\\n이름: ' + name + '\\n자사몰ID: ' + jasamolId + '\\n연락처: ' + mobile + '\\n이메일: ' + email + '\\n협회: ' + association + '\\n\\n사유: ' + reason + '\\n\\n→ 메이크샵 관리자에서 직접 등업 후\\n에어테이블 n8n_처리완료 체크 바랍니다';\n\n// Airtable autoMapInputData용: id + 업데이트 필드\nconst kst = new Date(new Date().getTime() + 9*60*60*1000).toISOString().replace('Z', '+09:00');\n\nreturn {\n  json: {\n    message,\n    id: recordId,\n    n8n_처리완료: true,\n    n8n_처리일시: kst\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n18","name":"수동 처리 메시지 조립","type":"n8n-nodes-base.code","typeVersion":2,"position":[2620,480]},{"parameters":{"chatId":"7713811206","text":"={{ $json.message }}","additionalFields":{}},"id":"fa001-n19","name":"텔레그램 수동 처리 요청","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2840,480],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}}},{"id":"node-airtable-manual-complete-v2","name":"에어테이블 수동처리 기록","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3080,480],"parameters":{"operation":"update","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","n8n_처리완료":"={{ $json.n8n_처리완료 }}","n8n_처리일시":"={{ $json.n8n_처리일시 }}"},"matchingColumns":["id"],"schema":[]},"options":{}},"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}}],"connections":{"5분 스케줄":{"main":[[{"node":"강사회원 그룹코드 조회","type":"main","index":0}]]},"승인완료 미처리 조회":{"main":[[{"node":"처리할 건 있는가","type":"main","index":0}]]},"처리할 건 있는가":{"main":[[{"node":"식별 정보 추출","type":"main","index":0}],[{"node":"처리 없음","type":"main","index":0}]]},"식별 정보 추출":{"main":[[{"node":"자사몰 ID 있는가","type":"main","index":0}]]},"자사몰 ID 있는가":{"main":[[{"node":"메이크샵 회원 조회 (ID)","type":"main","index":0}],[{"node":"메이크샵 회원 조회 (연락처)","type":"main","index":0}]]},"메이크샵 회원 조회 (ID)":{"main":[[{"node":"조회 응답 파싱 (ID)","type":"main","index":0}]]},"조회 응답 파싱 (ID)":{"main":[[{"node":"회원 존재하는가","type":"main","index":0}]]},"회원 존재하는가":{"main":[[{"node":"메이크샵 그룹 변경","type":"main","index":0}],[{"node":"메이크샵 회원 조회 (연락처)","type":"main","index":0}]]},"메이크샵 회원 조회 (연락처)":{"main":[[{"node":"연락처 조회 파싱 + 성함 확인","type":"main","index":0}]]},"연락처 조회 파싱 + 성함 확인":{"main":[[{"node":"연락처+성함 일치하는가","type":"main","index":0}]]},"연락처+성함 일치하는가":{"main":[[{"node":"메이크샵 그룹 변경","type":"main","index":0}],[{"node":"수동 처리 메시지 조립","type":"main","index":0}]]},"메이크샵 그룹 변경":{"main":[[{"node":"그룹 변경 응답 파싱","type":"main","index":0}]]},"그룹 변경 응답 파싱":{"main":[[{"node":"그룹 변경 성공했는가","type":"main","index":0}]]},"그룹 변경 성공했는가":{"main":[[{"node":"에어테이블 처리완료 기록","type":"main","index":0}],[{"node":"수동 처리 메시지 조립","type":"main","index":0}]]},"에어테이블 처리완료 기록":{"main":[[{"node":"텔레그램 성공 알림","type":"main","index":0}]]},"수동 처리 메시지 조립":{"main":[[{"node":"텔레그램 수동 처리 요청","type":"main","index":0},{"node":"에어테이블 수동처리 기록","type":"main","index":0}]]},"강사회원 그룹코드 조회":{"main":[[{"node":"그룹코드 파싱","type":"main","index":0}]]},"그룹코드 파싱":{"main":[[{"node":"승인완료 미처리 조회","type":"main","index":0}]]},"텔레그램 수동 처리 요청":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:5분 스케줄":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","activeVersionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","versionCounter":84,"triggerCount":1,"shared":[{"updatedAt":"2026-02-24T03:59:06.037Z","createdAt":"2026-02-24T03:59:06.037Z","role":"workflow:owner","workflowId":"jaTfiQuY35DjgrxN","projectId":"DIT0WAQj00qvNJUL","project":{"updatedAt":"2026-02-23T16:33:10.708Z","createdAt":"2026-02-23T16:25:57.845Z","id":"DIT0WAQj00qvNJUL","name":"jiho jang <pressco5755@naver.com>","type":"personal","icon":null,"description":null,"creatorId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-24T12:17:34.881Z","createdAt":"2026-02-24T12:17:34.881Z","versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","workflowId":"jaTfiQuY35DjgrxN","nodes":[{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"group"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n00a","name":"강사회원 그룹코드 조회","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,500]},{"parameters":{"jsCode":"// 메이크샵 그룹 목록에서 강사회원 그룹코드 추출\nconst resp = $json;\nconst groups = (resp && resp.list) ? resp.list : [];\nlet groupCode = 'MX01'; // 기본 폴백값\n\nconst found = groups.find(function(g) {\n  return g.group_name === '강사회원';\n});\nif (found && found.group_id) {\n  groupCode = found.group_id;\n}\n\nreturn { json: { instructorGroupCode: groupCode } };"},"id":"fa001-n00b","name":"그룹코드 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,700]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":5}]}},"id":"fa001-n01","name":"5분 스케줄","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[200,300]},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"filterByFormula":"AND({진행 상태}=\"승인완료\",NOT({n8n_처리완료}))","returnAll":false,"options":{},"limit":20},"id":"fa001-n02","name":"승인완료 미처리 조회","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,300],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.id }}","operation":"isNotEmpty"}]}},"id":"fa001-n03","name":"처리할 건 있는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[640,300]},{"parameters":{},"id":"fa001-n04","name":"처리 없음","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[860,480]},{"parameters":{"jsCode":"// ===== 에어테이블 레코드에서 식별 정보 추출 =====\n// n8n Airtable 노드는 필드를 $json 최상위에 직접 반환\nconst recordId = $json.id;\n\nconst jasamolId = ($json['자사몰 ID'] || '').trim();\nconst rawMobile = ($json['연락처'] || '').trim();\nconst name = ($json['성함'] || '').trim();\nconst email = ($json['이메일 주소'] || '').trim();\nconst association = ($json['소속 협회'] || '').trim();\n\n// 연락처 정규화: 010-1234-5678 또는 01012345678 → 01012345678\nconst mobile = rawMobile.replace(/[^0-9]/g, '').replace(/^82/, '0');\n\nreturn {\n  json: {\n    jasamolId,\n    mobile,\n    name,\n    email,\n    association,\n    recordId,\n    hasId: jasamolId.length > 0,\n    hasMobile: mobile.length >= 10\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n05","name":"식별 정보 추출","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.hasId }}","value2":true,"operation":"equal"}]}},"id":"fa001-n06","name":"자사몰 ID 있는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[1080,300]},{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"user"},{"name":"userid","value":"={{ $('식별 정보 추출').item.json.jasamolId }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n07","name":"메이크샵 회원 조회 (ID)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,100]},{"parameters":{"jsCode":"// ===== 메이크샵 회원 조회 응답 파싱 (ID 기준) =====\nconst resp = $json;\nconst originalData = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\n\n// 실제 메이크샵 API 응답: {return_code: '0000', list: [{id, hname, grade, ...}]}\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  makeshopUserId = resp.list[0].id || originalData.jasamolId;\n}\n\nreturn {\n  json: {\n    ...originalData,\n    userFound,\n    makeshopUserId: makeshopUserId || originalData.jasamolId,\n    failReason: userFound ? '' : '자사몰 ID로 회원을 찾지 못함: ' + originalData.jasamolId\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n08","name":"조회 응답 파싱 (ID)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,100]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.userFound }}","value2":true,"operation":"equal"}]}},"id":"fa001-n09","name":"회원 존재하는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[1740,100]},{"parameters":{"method":"GET","url":"https://www.foreverlove.co.kr/list/open_api.html","sendQuery":true,"queryParameters":{"parameters":[{"name":"mode","value":"search"},{"name":"type","value":"user"},{"name":"mobile","value":"={{ $('식별 정보 추출').item.json.mobile }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="}]}},"id":"fa001-n10","name":"메이크샵 회원 조회 (연락처)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,300]},{"parameters":{"jsCode":"// ===== 연락처 조회 응답 파싱 + 성함 일치 확인 =====\nconst resp = $json;\nconst originalData = $('식별 정보 추출').item.json;\n\nlet userFound = false;\nlet makeshopUserId = '';\nlet respName = '';\n\n// 실제 메이크샵 API 응답: {return_code: '0000', list: [{id, hname, handphone, ...}]}\nif (resp.return_code === '0000' && Array.isArray(resp.list) && resp.list.length > 0) {\n  userFound = true;\n  makeshopUserId = resp.list[0].id || '';\n  respName = (resp.list[0].hname || '').trim();\n}\n\n// 성함 일치 확인 (공백 무시)\nconst inputName = originalData.name.replace(/\\s/g, '');\nconst apiName = respName.replace(/\\s/g, '');\nconst nameMatch = userFound && inputName.length > 0 && apiName.length > 0 && inputName === apiName;\n\nreturn {\n  json: {\n    ...originalData,\n    userFound,\n    nameMatch,\n    makeshopUserId,\n    apiName,\n    failReason: !userFound\n      ? '연락처로 회원을 찾지 못함: ' + originalData.mobile\n      : !nameMatch\n        ? '성함 불일치 (에어테이블: ' + originalData.name + ' / 메이크샵: ' + apiName + ')'\n        : ''\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n11","name":"연락처 조회 파싱 + 성함 확인","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.userFound && $json.nameMatch }}","value2":true,"operation":"equal"}]}},"id":"fa001-n12","name":"연락처+성함 일치하는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[2400,300]},{"parameters":{"method":"POST","url":"https://www.foreverlove.co.kr/list/open_api_process.html?mode=save&type=user_group_change&process=update","sendBody":true,"specifyBody":"string","body":"={{ 'datas[0][userid]=' + $json.makeshopUserId + '&datas[0][group_id]=' + $('그룹코드 파싱').first().json.instructorGroupCode }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Shopkey","value":"1fe4eece82d00e245aff322522fb3aec"},{"name":"Licensekey","value":"YWQ0ZTQwNWVhOGIzN2E3ZWVkZDdiMTIwOGZhNmQ3MDI="},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fa001-n13","name":"메이크샵 그룹 변경","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,100]},{"parameters":{"jsCode":"// ===== 그룹 변경 API 응답 파싱 =====\n// 실제 메이크샵 응답: {return_code: '0000', datas: [{result: 'true'/'false', userid, group_id, group_name, message}]}\n// 주의: result는 boolean이 아닌 string 'true'/'false'\nconst resp = $json;\n\nlet success = false;\nlet failMessage = '';\n\nif (resp.return_code === '0000' && Array.isArray(resp.datas) && resp.datas.length > 0) {\n  const item = resp.datas[0];\n  // result는 string 'true' 또는 boolean true 둘 다 처리\n  if (item.result === true || item.result === 'true') {\n    success = true;\n  } else {\n    const msgs = item.message || [];\n    failMessage = Array.isArray(msgs) ? msgs.join(', ') : String(msgs);\n  }\n}\n\n// 이전 노드 데이터 유지 (두 경로 모두 try-catch로 안전하게)\nlet prevData = {};\ntry { prevData = { ...prevData, ...$('조회 응답 파싱 (ID)').item.json }; } catch(e) {}\ntry { prevData = { ...prevData, ...$('연락처 조회 파싱 + 성함 확인').item.json }; } catch(e) {}\n\nreturn {\n  json: {\n    ...prevData,\n    groupChangeSuccess: success,\n    groupChangeFailMessage: failMessage,\n    groupChangeResponse: JSON.stringify(resp)\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n14","name":"그룹 변경 응답 파싱","type":"n8n-nodes-base.code","typeVersion":2,"position":[2840,100]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.groupChangeSuccess }}","value2":true,"operation":"equal"}]}},"id":"fa001-n15","name":"그룹 변경 성공했는가","type":"n8n-nodes-base.if","typeVersion":1,"position":[3060,100]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.recordId }}","n8n_처리완료":true,"n8n_처리일시":"={{ new Date(new Date().getTime() + 9*60*60*1000).toISOString().replace('Z', '+09:00') }}"},"matchingColumns":["id"],"schema":[]},"options":{}},"id":"fa001-n16","name":"에어테이블 처리완료 기록","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3280,100],"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}},{"parameters":{"chatId":"7713811206","text":"={{ '✅ 강사회원 등업 완료\\n\\n이름: ' + $json.name + '\\n아이디: ' + $json.makeshopUserId + '\\n협회: ' + ($json.association || '-') }}","additionalFields":{}},"id":"fa001-n17","name":"텔레그램 성공 알림","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3500,100],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}}},{"parameters":{"jsCode":"// ===== 수동 처리 요청 메시지 조립 =====\nlet data = {};\n\ntry { data = $('식별 정보 추출').item.json; } catch(e) {}\ntry { data = { ...data, ...$('연락처 조회 파싱 + 성함 확인').item.json }; } catch(e) {}\ntry { data = { ...data, ...$('조회 응답 파싱 (ID)').item.json }; } catch(e) {}\ntry { data = { ...data, ...$('그룹 변경 응답 파싱').item.json }; } catch(e) {}\n\nconst reason = data.failReason || '원인 불명';\nconst name = data.name || '(이름 없음)';\nconst jasamolId = data.jasamolId || '(미입력)';\nconst mobile = data.mobile || '(미입력)';\nconst email = data.email || '(미입력)';\nconst association = data.association || '(미입력)';\nconst recordId = data.recordId || '';\n\nconst message = '⚠️ 강사 등업 수동 처리 필요\\n\\n이름: ' + name + '\\n자사몰ID: ' + jasamolId + '\\n연락처: ' + mobile + '\\n이메일: ' + email + '\\n협회: ' + association + '\\n\\n사유: ' + reason + '\\n\\n→ 메이크샵 관리자에서 직접 등업 후\\n에어테이블 n8n_처리완료 체크 바랍니다';\n\n// Airtable autoMapInputData용: id + 업데이트 필드\nconst kst = new Date(new Date().getTime() + 9*60*60*1000).toISOString().replace('Z', '+09:00');\n\nreturn {\n  json: {\n    message,\n    id: recordId,\n    n8n_처리완료: true,\n    n8n_처리일시: kst\n  }\n};","mode":"runOnceForEachItem"},"id":"fa001-n18","name":"수동 처리 메시지 조립","type":"n8n-nodes-base.code","typeVersion":2,"position":[2620,480]},{"parameters":{"chatId":"7713811206","text":"={{ $json.message }}","additionalFields":{}},"id":"fa001-n19","name":"텔레그램 수동 처리 요청","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2840,480],"credentials":{"telegramApi":{"id":"RdFu3nsFuuO5NCff","name":"Pressco메이크샵봇"}}},{"id":"node-airtable-manual-complete-v2","name":"에어테이블 수동처리 기록","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3080,480],"parameters":{"operation":"update","base":{"__rl":true,"value":"app6MBsHo7AKwh5XD","mode":"id"},"table":{"__rl":true,"value":"tblo1NVcundJjJKJ3","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","n8n_처리완료":"={{ $json.n8n_처리완료 }}","n8n_처리일시":"={{ $json.n8n_처리일시 }}"},"matchingColumns":["id"],"schema":[]},"options":{}},"credentials":{"airtableTokenApi":{"id":"JK1lFxPvfCkIFclZ","name":"Airtable PAT"}}}],"connections":{"5분 스케줄":{"main":[[{"node":"강사회원 그룹코드 조회","type":"main","index":0}]]},"승인완료 미처리 조회":{"main":[[{"node":"처리할 건 있는가","type":"main","index":0}]]},"처리할 건 있는가":{"main":[[{"node":"식별 정보 추출","type":"main","index":0}],[{"node":"처리 없음","type":"main","index":0}]]},"식별 정보 추출":{"main":[[{"node":"자사몰 ID 있는가","type":"main","index":0}]]},"자사몰 ID 있는가":{"main":[[{"node":"메이크샵 회원 조회 (ID)","type":"main","index":0}],[{"node":"메이크샵 회원 조회 (연락처)","type":"main","index":0}]]},"메이크샵 회원 조회 (ID)":{"main":[[{"node":"조회 응답 파싱 (ID)","type":"main","index":0}]]},"조회 응답 파싱 (ID)":{"main":[[{"node":"회원 존재하는가","type":"main","index":0}]]},"회원 존재하는가":{"main":[[{"node":"메이크샵 그룹 변경","type":"main","index":0}],[{"node":"메이크샵 회원 조회 (연락처)","type":"main","index":0}]]},"메이크샵 회원 조회 (연락처)":{"main":[[{"node":"연락처 조회 파싱 + 성함 확인","type":"main","index":0}]]},"연락처 조회 파싱 + 성함 확인":{"main":[[{"node":"연락처+성함 일치하는가","type":"main","index":0}]]},"연락처+성함 일치하는가":{"main":[[{"node":"메이크샵 그룹 변경","type":"main","index":0}],[{"node":"수동 처리 메시지 조립","type":"main","index":0}]]},"메이크샵 그룹 변경":{"main":[[{"node":"그룹 변경 응답 파싱","type":"main","index":0}]]},"그룹 변경 응답 파싱":{"main":[[{"node":"그룹 변경 성공했는가","type":"main","index":0}]]},"그룹 변경 성공했는가":{"main":[[{"node":"에어테이블 처리완료 기록","type":"main","index":0}],[{"node":"수동 처리 메시지 조립","type":"main","index":0}]]},"에어테이블 처리완료 기록":{"main":[[{"node":"텔레그램 성공 알림","type":"main","index":0}]]},"수동 처리 메시지 조립":{"main":[[{"node":"텔레그램 수동 처리 요청","type":"main","index":0},{"node":"에어테이블 수동처리 기록","type":"main","index":0}]]},"강사회원 그룹코드 조회":{"main":[[{"node":"그룹코드 파싱","type":"main","index":0}]]},"그룹코드 파싱":{"main":[[{"node":"승인완료 미처리 조회","type":"main","index":0}]]},"텔레그램 수동 처리 요청":{"main":[[]]}},"authors":"jiho jang","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-24T12:17:34.980Z","id":49,"workflowId":"jaTfiQuY35DjgrxN","versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","event":"deactivated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"},{"createdAt":"2026-02-24T12:17:35.041Z","id":50,"workflowId":"jaTfiQuY35DjgrxN","versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","event":"activated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"},{"createdAt":"2026-02-24T12:17:47.832Z","id":51,"workflowId":"jaTfiQuY35DjgrxN","versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","event":"deactivated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"},{"createdAt":"2026-02-24T12:17:47.848Z","id":52,"workflowId":"jaTfiQuY35DjgrxN","versionId":"d79f9b56-0967-455c-8564-5fa43d2bd1cf","event":"activated","userId":"0ab1958e-73b1-4f28-a746-4e9c0e6c7303"}]}}